.header {
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 170px;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__flexColumn {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.header__flexColumn--video {
  max-width: 42%;
  margin-top: 7.22%;
  padding: 22px 3% 22px 1.6%;
  position: relative;
  margin-left: 7.43%;
}

.header__flexColumn--span2 {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__headerTitle {
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 56px;
  letter-spacing: 0.2px;
  margin-top: 28.61%;
  margin-bottom: 74px;
  margin-left: 18.86%;
}

.header__video {
  width: 100%;
  z-index: 1;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

.header__playButton {
  position: absolute;
  z-index: 30;
  top: calc((100% / 2) - 51.08px);
  left: calc((100% / 2) - 84.675px);
}

.header__socialsContainer {
  position: fixed;
  top: -25px;
  margin-top: 684px;
  right: 0px;
  margin-right: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__socialIcon {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 12px;
  max-width: 40px;
  max-height: 40px;
}

.header__sliderButton {
  text-align: center;
  margin-top: 124px;
  background-color: transparent;
  border-color: transparent;
}

.header__sliderButton:hover {
  cursor: pointer;
}

@media(max-width: 768px) {
  .header {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__flexColumn {
    max-width: 100%;
    order: -1;
  }
  .header__flexColumn--video {
    order: 5;
    margin-right: auto;
    margin-left: auto;
    margin-top: 162px;
  }
  .header__flexColumn--span2 {
    order: 3;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
  }
  .header__headerTitle {
    max-width: 569px;
    margin-top: 128px;
    margin-left: 74.8px;
  }
  .header__socialsContainer {
    order: 3;
  }
  .header__sliderButton {
    margin-top: 0px;
  }
  .header__playButton {
    top: 47%;
    left: 44%;
    width: 63px;
    height: 63px;
  }
  @media(max-width: 320px) {
    .header {
      padding-bottom: 60px;
    }
    .header__headerTitle {
      max-width: 89%;
      font-size: 24px;
      line-height: 32px;
      margin-top: 48px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
    }
    .header__socialIcon {
      margin-top: 0px;
      margin-bottom: 12px;
      max-width: 30px;
      max-height: 30px;
    }
    .header__videoWrapper {
      margin-top: 34px;
    }
    .header__playButton {
      width: 32px;
      height: 32px;
      top: 46%;
      left: 41%;
    }
  }
}