.header {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 170px;
  z-index: 5;
  background-image: url(../images/BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header__flexRow {
  display: flex;
  max-width: 100%;
}

.header__flexRow--center {
  justify-content: center;
  align-items: center;
}

.header__headerTitle {
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 56px;
  letter-spacing: 0.2px;
  margin: 206px 107px 0px 142px;
}

.header__videoWrapper {
  margin-top: 104px;
  padding: 22px 71px 22px 23px;
  flex-basis: 50%;
}

.header__socialsContainer {
  flex-basis: 50%;
  margin-top: 85px;
  margin-right: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__socialIcon {
  margin-top: 0px;
  margin-bottom: 12px;
  max-width: 40px;
  max-height: 40px;
}

.header__sliderWrapper {
  flex-basis: 100%;
  text-align: center;
}