.header {
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 170px;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__headerTitle {
  max-width: 40%;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 56px;
  letter-spacing: 0.2px;
  margin-top: 206px;
  margin-right: calc((100% / 10) - 37px);
  margin-left: calc((100% / 10) - 2px);
}

.header__videoWrapper {
  margin-top: 7.22%;
  padding: 22px 38px 22px 23px;
  max-width: 42%;
  position: relative;
  text-align: center;
}

.header__video {
  max-width: 100%;
  z-index: 1;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

.header__playButton {
  position: absolute;
  z-index: 30;
  top: 47%;
  left: 44%;
  width: 63px;
  height: 63px;
}

.header__socialsContainer {
  flex-basis: 100%;
  margin-top: 20px;
  margin-right: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__socialIcon {
  margin-top: 0px;
  margin-bottom: 12px;
  max-width: 40px;
  max-height: 40px;
}

.header__sliderWrapper {
  flex-basis: 100%;
  text-align: center;
}

@media(max-width: 768px) {
  .header {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__headerTitle {
    max-width: 74%;
    margin-top: 128px;
    margin-left: calc((100% / 10) + 2px);
    margin-right: 0px;
  }
  .header__videoWrapper {
    order: 5;
    margin-top: 55px;
    align-self: center;
    max-width: 83%;
  }
  .header__socialsContainer {
    order: 3;
    margin-top: 15px;
    margin-right: 15px;
  }
  .header__sliderWrapper {
    order: 2;
  }
  @media(max-width: 320px) {
    .header {
      padding-bottom: 60px;
    }
    .header__headerTitle {
      max-width: 89%;
      font-size: 24px;
      line-height: 32px;
      margin-top: 48px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
    }
    .header__socialIcon {
      margin-top: 0px;
      margin-bottom: 12px;
      max-width: 30px;
      max-height: 30px;
    }
    .header__videoWrapper {
      margin-top: 34px;
    }
    .header__playButton {
      width: 32px;
      height: 32px;
      top: 46%;
      left: 41%;
    }
  }
}