.navigationBar {
  max-width: 100%;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-right: calc((100% / 10) - 7px);
  padding-bottom: 15px;
  z-index: 100;
  background-color: #ffffff;
}

.navigationList {
  padding-left: 0px;
  display: flex;
  list-style-type: none;
  color: #1C2085;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigationList__listItem {
  margin-right: 41px;
}

.navigationList__listItem--active {
  border-bottom: 2px solid #5454D4;
  padding: 0px 5px 6px 5px;
}

.navigationList__listItem--last {
  margin-right: 0px;
}

.navigationBar__logo {
  height: 39px;
  margin-left: 136px;
}

@media(max-width: 768px) {
  .navigationBar {
    padding-right: calc((100% / 20) - 23.4px);
  }
  .navigationBar__logo {
    margin-left: 16px;
  }
  @media(max-width: 320px) {
    .navigationBar {
      justify-content: flex-start;
    }
    .navigationBar__logo {
      height: 22px;
    }
    .navigationList {
      margin-left: 41px;
      margin-right: 24px;
    }
    .navigationList__listItem {
      margin-right: 24px;
    }
  }
}