.subscription {
  margin-left: 142px;
}

.subscription__label {
  font-size: 18px;
  color: #ffffff;
  line-height: 26px;
  opacity: 0.7;
}

.subscription__wrapper {
  margin-top: 18px;
  max-width: 570px;
  display: flex;
}

.subscription__input {
  background-color: #FFFFFF;
  font-size: 17px;
  width: 480px;
  height: 50px;
  padding: 12px 0px 14px 20px;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  z-index: 2;
}

.subscription__submitButton {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
  width: 154px;
  height: 50px;
  margin-left: -66px;
  padding: 11px 37px;
  border-radius: 25px;
  background-color: #38A5DB;
  border: 2px solid #38A5DB;
  z-index: 20;
}